.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.input {
  border: 0;
  background: none;
  outline: none;
}

.input:focus {
  color: blue;
}

textarea {
  resize: none;
  width: 100%;
  height: 150px;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.tile:hover .deleteButton {
  visibility: visible;
}

.card {
  margin: 15px 0;
}