.App-header {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  background-image: url("./images/background.jpg");
  text-transform: uppercase;
  color: #0d3248;
}

.App-header h1, .App-header h2 {
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;

}

.App-header h1 {
  font-size: 4.5rem;
}

.App-header h2 {
  font-size: 2.8rem;
}

.notification {
  margin: 15px 0 0;
  width: 100%;
  min-height: 24px;
}

.input {
  border: 0;
  background: none;
  outline: none;
}

.input:focus {
  color: #3c59a0;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.deleteButton {
  visibility: hidden;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.card:hover .deleteButton {
  visibility: visible;
}

.card {
  margin: 15px 0;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 35px 0;
}

.demoIdeas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.demoIdeas .card {
  border: 3px solid #81dae8;
}

.demoIdeas .card {
  max-width: 400px;
}

.btn a {
  color: white;
}

.btn-success {
  margin: 25px 0;
}

@media only screen and (min-width: 768px) {
  .demoIdeas .card {
    width: 720px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
  }
  .demoIdeas .card-img-top {
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .deleteButton {
    visibility: visible;
  }
}