@import url('https://fonts.googleapis.com/css?family=Open+Sans|Reem+Kufi');

//== Colors

$aqua:    #5480e9 !default;
$lilac: #e2e5f1 !default;

$primary:       $aqua !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $lilac !default;

//== Typography

$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif !default;
$headings-font-family:    "Reem Kufi", Helvetica, Arial, sans-serif !default;

@import "../../../node_modules/bootstrap/scss/bootstrap";